@media screen and (max-width:425px) {
    .nav-content {
        /*header section start */
        flex-direction: column;
    }

    .link-content {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 20px;


    }

    .btn-design {


        padding: 20px;
        margin: 30px;
        text-align: center;
    }


    /*banner section start */
    .banner-goat-container {
        flex-direction: column-reverse;
    }

    .banner-goat-content {
        width: 100%;
        border: 2px solid saddlebrown;
        padding: 80px 0px 20px 90px;
      
        
    }

    .banner-goat-img {
        width: 100%;

    }
    .banner-section{
        
    }

    .play-title {
        font-size: 21px;
    }

    .goat-title {
        font-size: 39px;
    }

    .banner-paragraph {
        font-size: 14px;
    }
        .btn{
            font-size: 10px;
        }



    /*header section end*/
}






@media screen and (min-width:426px) and (max-width:768px) {
    /*header section start*/

    .nav-content {
        flex-direction: column;
    }

    .gamer-content {
        padding-left: 70px;
    }

    .link-content {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding-top: 20px;


    }

    .youtube {
        padding: 0px 10px;
    }


    .btn-design {


        padding: 30px 50px;
        margin: 30px;
        text-align: center;
    }

        /*banner section start */
        .banner-goat-container {
            flex-direction: column-reverse;
        }
    
        .banner-goat-content {
            width: 100%;
            padding: 80px;
            text-align: center;

    
    
        }
    
        .banner-goat-img {
            width: 100%;
    
        }
    
        

    /*header section end */


}